[Unit]
Description=LogMeIn Hamachi Daemon
After=local-fs.target network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/logmein-hamachi/hamachid.pid
ExecStartPre=/usr/bin/mkdir -p /run/logmein-hamachi
ExecStartPre=/usr/bin/rm -f /run/logmein-hamachi/hamachid.pid /run/logmein-hamachi/ipc.sock /run/logmein-hamachi/hamachid.lock
ExecStart=/usr/local/sbin/hamachid-systemd-wrapper start
ExecStop=/usr/local/sbin/hamachid-systemd-wrapper stop
ExecStopPost=/usr/bin/rm -f /run/logmein-hamachi/hamachid.pid /run/logmein-hamachi/ipc.sock /run/logmein-hamachi/hamachid.lock
Restart=on-failure
RestartSec=3
TimeoutStartSec=20
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
